// color palette - these colors will be the color swatches of the Colors section

$color-1: #ffd9da; // Pale Pink - Action color
$color-2: #f093af; // Dark Blue
$color-3: #b8e8d0; // Red
$color-4: #3f72de; // light grey
$color-5: #7353ba; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red
